.body {
  background: linear-gradient(to right, hsl(200, 60%, 62%), hsl(160, 100%, 50%)); 

}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family:var(--font-family);
}
.title, .month {
  margin:0;
  padding-top: 50px;
  text-align: center;
  font-family:var(--font-family);
  font-weight: 300;
  color:white;
}

.card {
  max-width: 650px;
	margin: 30px auto;
  padding:20px;
	background-color: white;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  overflow: hidden;
}

.image {
  width:80%;
  height: auto;
	float: left;
	width: 40%;
	margin-right: 15px;
  }
.card li {
  list-style: none;
}
.poem {
  font-weight: bold;
}
.footer {
  text-align: center;
  font-family:var(--font-family);
  font-weight:300;
}